<div class="users-profile">
  <h2><%= I18n.t("views.role.info", model: User.t) %></h2>
  <%= render 'layouts/icon', resource: user, attribute: :profile_image, width: 200, height: 200 %>
  <table class="table">
    <tbody>
    <tr></tr>
    <tr>
      <th><%= User.t(:name) %></th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th><%= User.t(:introduction) %></th>
      <th><%= user.introduction %></th>
    </tr>
    </tbody>
  </table>
  <div class="row">
    <% if signed_in_user?(user) %>
      <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
        <i class="fas fa-user-cog"></i>
      <% end %>
    <% end %>
  </div>
</div>